{% extends "./base.html" %}{% block content %}
<h1 class="title is-3">カテゴリ</h1>
<a href="{% url 'CatRegist' %}">登録</a>

{% if categorys %}
<!--カテゴリをテーブル表示-->
<table border="1">
    <tr  bgcolor="aquamarine">
        <th>　カテゴリ名　</th>
        <th>　備考　</th>
        <th>　合計勉強時間　</th>        
        <th>　削除　</th>
    </tr>
    {% for cat in categorys %}
    <tr>      
        <th><a href="{% url 'CatEdit' cat.slug %}">{{cat.name}}</a></th>
        <th align="left">{{cat.memo}}</th>
        <th align="left">{% if cat.total_learn_minut %}{{cat.total_learn_minut}}{% endif %}</th>
        <th><a href="{% url 'CatDelete' cat.slug %}">削除</a></th>  
    </tr>
    {%endfor%}
</table>
{% else %}
<p>まずはカテゴリを登録しましょう。</p>
{% endif %} 
<hr><h1 class="title is-3">ログ</h1>
{% if categorys %}
<a href="{% url 'LogRegist' %}">登録</a>
{% else %} 
<p>ログはカテゴリを登録してから登録して下さい。</p>
{% endif %}

<p>本日の勉強時間：{{total_learn_minut_today}}分</p>
{% if logs %} 
<!--ログをテーブル表示-->
<table border="1">
    <tr  bgcolor="aquamarine">
        <th>　カテゴリ　</th>
        <th>　勉強日　</th>
        <th>　開始時刻　</th>
        <th>　終了時刻　</th>
        <th>　勉強時間　</th>
        <th>　備考　</th>
        <th>　削除　</th>
    </tr>
    {% for log in logs %}
    <tr>        
        {% for cat in categorys %}
        {% if cat == log.category %}
        <th><a href="{% url 'LogEdit' log.slug %}">{{cat.name}}</a></th>
        {% endif %}
        {%endfor%}
        <th>{% if log.learnDate %}{{log.learnDate}}{% endif %}</th>         
        <th align="left">{% if log.startDateTime %}{{log.startDateTime}}{% endif %}</th>
        <th align="left">{% if log.endDateTime %}{{log.endDateTime}}{% endif %}</th>
        <th>{{log.learnMinut}}分</th>
        <th align="left">{{log.memo}}</th>
        <th><a href="{% url 'LogDelete' log.slug %}">削除</a></th>      
    </tr>
    {%endfor%}
</table>
<a href="{% url 'export_csv' %}">CSV切り出し</a><br>
{% endif %}
{%endblock%}